includes:
    - phpstan-baseline.neon
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - tests
        - routes
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined static method#'
        - '#PHPDoc tag @var#'

